import com.example.thetester.generated.Endpoint;

import java.util.HashMap;
import java.util.List;
import java.util.Map;

import static java.util.Arrays.asList;

public class {{className}} implements Endpoint {

    private String controllerName = "{{controllerName}}";
    private String path = "{{path}}";
    private String method = "{{method}}";
    private List<String> consumes = {{consumes}};
    private List<String> produces = {{produces}};
    private Map<String, String> bodyParameters = {{bodyParameters}};
    private Map<String, String> pathParameters = {{pathParameters}};
    private Map<String, String> queryParameters = {{queryParameters}};
    private Map<String, String> formParameters = {{formParameters}};
    private List<String> expectedStatusCodes = {{expectedStatusCodes}};

    public String getControllerName() {
        return controllerName;
    }

    public String getPath() {
        return path;
    }

    public String getMethod() {
        return method;
    }

    public List<String> getConsumes() {
        return consumes;
    }

    public List<String> getProduces() {
        return produces;
    }

    public Map<String, String> getBodyParameters() {
        return bodyParameters;
    }

    public Map<String, String> getPathParameters() {
        return pathParameters;
    }

    public Map<String, String> getQueryParameters() {
        return queryParameters;
    }

    public Map<String, String> getFormParameters() {
        return formParameters;
    }

    public List<String> getExpectedStatusCodes() {
        return expectedStatusCodes;
    }
}
