package com.example.thetester.generated.dtos;

import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class {{className}} {

    {{#variables}}
    private {{{parameterType}}} {{parameterName}};

    public {{{parameterType}}} get{{parameterNameCamelCase}}() {
        return {{parameterName}};
    }

    public void set{{parameterNameCamelCase}}({{{parameterType}}} {{parameterName}}) {
        this.{{parameterName}} = {{parameterName}};
    }
    {{/variables}}

    public {{className}}() {}

    public {{className}}({{#constructorParameters}}{{{parameterType}}} {{parameterName}}{{#comma}}, {{/comma}}{{/constructorParameters}}) {
        {{#constructorVariables}}
            this.{{parameterName}} = {{parameterName}};
        {{/constructorVariables}}
    }

    public {{className}}({{#constructorParametersObject}}Object {{parameterName}}{{#comma}}, {{/comma}}{{/constructorParametersObject}}) {
        {{#constructorVariablesObject}}
            this.{{parameterName}} = ({{parameterType}}) {{parameterName}};
        {{/constructorVariablesObject}}
    }

    @Override
    public String toString() {
        return {{toStringParameters}} "";
    }
}
